.wrapper {
	margin-bottom: 20px;
	ul {
		li {
			padding: 5px;
			font-size: 25px;
			display: inline;
			margin-right: 20px;
			border: 2px solid rgb(117 81 255);
			border-radius: 0.5rem;
			cursor: pointer;
			&:hover {
				background-color: rgb(117 81 255);
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
				transition-duration: 266ms;
			}
		}
	}
}
.active {
	background-color: rgb(117 81 255);
}

.add {
	.inputs {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}
	input {
		margin-bottom: 10px;
	}
}

// Миксина для изменения внешнего вида скроллбара
// Работает не во всех браузерах
// @param {Length} $size - Высота горизонтального и скроллбара и ширина вертикального
// @param {Color} $foreground-color - Цвет скроллбара
// @param {Color} $background-color [mix($foreground-color, white, 50%)] - Цвет скроллбара
// @example scss - Стили скроллбара
// @include scrollbars(.5em, slategray);

.table {
	font-size: 16px;
	margin-right: 20px;
	table {
		width: 700px;

		thead {
			border-bottom: 1px solid grey;
			tr {
				&:hover {
					background-color: inherit;
				}
			}
		}

		tr {
			text-align: center;

			&:hover {
				background-color: rgb(73, 73, 73);
				transition: 0.7s;
			}
		}
		.active {
			background-color: grey;
		}

		th {
			&:last-child {
				width: 70px;
			}
		}
		th,
		td {
			border-right: 1px solid rgb(150, 150, 150);
			padding: 4px;

			&:first-child {
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
			}
			&:last-child {
				height: max-content;
				// background-color: #0e0f0f;
				justify-content: center;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
				border-right: none;
			}
		}
	}
}
