/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/i/doc/doc.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.doc_wrapper__uQS3E {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgb(199, 199, 199);
  font-size: 15px;
}
.doc_wrapper__uQS3E table {
  margin-bottom: 10px;
  border-radius: 10px;
}
.doc_wrapper__uQS3E table thead {
  border-bottom: 1px solid grey;
}
.doc_wrapper__uQS3E table thead tr:hover {
  background-color: inherit;
}
.doc_wrapper__uQS3E table tr {
  text-align: center;
}
.doc_wrapper__uQS3E table tr:hover {
  background-color: rgb(73, 73, 73);
  transition: 0.7s;
}
.doc_wrapper__uQS3E table .doc_active__BiPQV {
  background-color: grey;
}
.doc_wrapper__uQS3E table th,
.doc_wrapper__uQS3E table td {
  border-right: 1px solid rgb(150, 150, 150);
  padding: 4px;
}
.doc_wrapper__uQS3E table th:first-child,
.doc_wrapper__uQS3E table td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.doc_wrapper__uQS3E table th:last-child,
.doc_wrapper__uQS3E table td:last-child {
  height: -moz-max-content;
  height: max-content;
  justify-content: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: none;
}

.doc_scroll_table_body__ddZse {
  height: 240px;
  overflow-x: auto;
  margin-top: 0px;
}
.doc_scroll_table_body__ddZse table {
  width: 100%;
  border: none;
}
.doc_scroll_table_body__ddZse table thead th {
  font-size: 15px;
  border-right: 1px solid #ddd;
}
.doc_scroll_table_body__ddZse table tbody td {
  border-right: 1px solid #ddd;
  vertical-align: top;
}
