/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/i/user/user.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.user_wrapper__CLE5o {
  display: flex;
  flex-direction: column;
  width: 70%;
  color: rgb(199, 199, 199);
}
.user_wrapper__CLE5o table {
  margin-bottom: 40px;
  border-radius: 10px;
}
.user_wrapper__CLE5o table thead {
  border-bottom: 1px solid grey;
}
.user_wrapper__CLE5o table thead tr:hover {
  background-color: inherit;
}
.user_wrapper__CLE5o table tr {
  text-align: center;
}
.user_wrapper__CLE5o table tr:hover {
  background-color: rgb(73, 73, 73);
  transition: 0.7s;
}
.user_wrapper__CLE5o table .user_active__taStf {
  background-color: grey;
}
.user_wrapper__CLE5o table th,
.user_wrapper__CLE5o table td {
  border-right: 1px solid rgb(150, 150, 150);
  padding: 4px;
}
.user_wrapper__CLE5o table th:first-child,
.user_wrapper__CLE5o table td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.user_wrapper__CLE5o table th:last-child,
.user_wrapper__CLE5o table td:last-child {
  height: -moz-max-content;
  height: max-content;
  justify-content: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: none;
}
